
# Don't track content of these folders
venv_pm/
data/cpps_data/
data/cpps_degradation_new/
data/cpps_degradation_old_new/
data/cpps_degradation_old/
data/phm_data_challenge/
src/visualisation/files/
deprecated/
own_research/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
