# Don't track content of these folders
venv_pm/
data/phm_data_challenge/
models/
src/visualisation/files/
src/visualisation/graphs/
deprecated/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
